<div class="footer mt-3">
    <div class="footer-container">

        <div class="footer-section logo">
            <img src="~/media/icons/logo_dragon_icons.png" alt="Logo" class="footer-logo" />
            <h2 class="text-muted">Dragon<span class="danger">Comic</span></h2>
        </div>

        <div class="footer-section about">
            <h3>Về Chúng Tôi</h3>
            <p>DragonComic là nơi chia sẻ những bộ truyện tranh mới nhất với đa dạng thể loại từ hành động, phiêu lưu, đến lãng mạn, hài hước.</p>
            <p>Chúng tôi cam kết mang đến trải nghiệm đọc truyện mượt mà và hấp dẫn nhất cho cộng đồng yêu thích truyện tranh.</p>
        </div>

        <div class="footer-section contact">
            <h3>Liên Hệ</h3>
            <p>Điện thoại: 0377315794</p>
            <p>Email: Nguyenhaidangdev1303@gmail.com</p>
        </div>

    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 DragonComic | All Rights Reserved.</p>
    </div>
</div>
