@inject K21CNT2_NguyenHaiDang_2110900067_DATN.Data.K21CNT2_NguyenHaiDang_2110900067_DATNContext _context

@{
    var genres = _context.Genres.ToList();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DragonComic</title>
    <link rel="icon" type="image/png" href="~/media/icons/logo_dragon.jpg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/default_css/default.css" asp-append-version="true" />
</head>
<body>
    <section id="header">
        @await Html.PartialAsync("~/Views/Shared/_Header.cshtml")
    </section>
    <section id="nav">
        @await Html.PartialAsync("~/Views/Shared/_Nav.cshtml", genres)
    </section>
    <main id="main">
        @RenderBody()
    </main>
    <section id="footer">
        @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")
    </section>
    <script src="~/js/default_js/default.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/default_js/header.js"></script>
    <script src="~/js/default_js/comment_details.js"></script>
    <script src="~/js/default_js/follow_details.js"></script>
    <script src="~/js/default_js/like_details.js"></script>
    <script src="~/js/default_js/chapter_details.js"></script>
    <script src="~/js/default_js/displayname_details.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(function () {
            const successMessage = '@TempData["success"]'.trim();
            const errorMessage = '@TempData["error"]'.trim();

            // Cấu hình Toastr
            toastr.options = {
                "closeButton": true,         // Có nút đóng
                "progressBar": true,         // Hiển thị thanh tiến trình
                "positionClass": "toast-top-right", // Hiển thị góc trên bên phải
                "timeOut": "1000",           // Tự động biến mất sau 4 giây
                "extendedTimeOut": "1000",
                "showEasing": "swing",       // Hiệu ứng xuất hiện
                "hideEasing": "linear",      // Hiệu ứng ẩn đi
                "showMethod": "fadeIn",      // Kiểu xuất hiện
                "hideMethod": "fadeOut"      // Kiểu biến mất
            };

            if (successMessage) toastr.success(successMessage);
            if (errorMessage) toastr.error(errorMessage);
        });
    </script>
</body>
</html>
