@model K21CNT2_NguyenHaiDang_2110900067_DATN.Models.RoleModel

<div class="create-comic">
    <h2 class="title">Xóa Quyền</h2>
    <p class="fs-5">
        Bạn có chắc chắn muốn xóa quyền <strong class="text-danger">"@Model.RoleName"</strong> không?
    </p>
    <form asp-action="Delete" method="post" class="comic-form">
        <input type="hidden" asp-for="RoleId" />
        <div class="form-group">
            <label asp-for="RoleName" for="comic-name">Tên Quyền</label>
            <input asp-for="RoleName" type="text" id="comic-name" placeholder="Nhập tên quyền..." readonly>
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
        <div class="button-group">
            <button type="submit" class="btn-submit">Xóa Quyền</button>
            <a asp-action="Index" class="btn-cancel">Quay Lại</a>
        </div>
    </form>
</div>