<div class="create-comic">
    <p>Chọn ngôn ngữ bạn muốn sử dụng:</p>

    <div class="language-switcher">
        <label>
            <input type="radio" name="language" value="vi-VN" onchange="changeLanguage('vi-VN')"
            @if (Context.Request.Cookies[".AspNetCore.Culture"]?.Contains("vi-VN") == true)
            {
                @:checked
            } />
            <img src="~/media/icons/co_viet_nam.png" alt="Tiếng Việt" />
            Tiếng Việt
        </label>
        <label>
            <input type="radio" name="language" value="zh-CN" onchange="changeLanguage('zh-CN')"
            @if (Context.Request.Cookies[".AspNetCore.Culture"]?.Contains("zh-CN") == true)
            {
                @:checked
            } />
            <img src="~/media/icons/co_trung_quoc.png" alt="中文" />
            Tiếng Trung
        </label>
        <label>
            <input type="radio" name="language" value="ko-KR" onchange="changeLanguage('ko-KR')"
            @if (Context.Request.Cookies[".AspNetCore.Culture"]?.Contains("ko-KR") == true)
            {
                @:checked
            } />
            <img src="~/media/icons/co_han_quoc.png" alt="한국어" />
            Tiếng Hàn
        </label>
    </div>
</div>



<script>
    function changeLanguage(culture) {
        var returnUrl = window.location.href;
        var url = '@Url.Action("ChangeLanguage", "Language", new { culture = "__culture__", returnUrl = "__returnUrl__" })';
        url = url.replace('__culture__', culture).replace('__returnUrl__', returnUrl);
        window.location.href = url;
    }
</script>

