@model K21CNT2_NguyenHaiDang_2110900067_DATN.Models.ComicModel

<div class="create-comic">
    <h2 class="title">Xóa Truyện</h2>
    <p class="fs-5">
        Bạn có chắc chắn muốn xóa truyện <strong class="text-danger">"@Model.ComicName"</strong> không?
    </p>
    <form asp-action="Delete" method="post" class="comic-form">
        <input type="hidden" asp-for="ComicId" />
        <div class="form-group">
            <label asp-for="ComicName" for="comic-name">Tên Truyện</label>
            <input asp-for="ComicName" type="text" id="comic-name" placeholder="Nhập tên truyện..." readonly>
            <span asp-validation-for="ComicName" class="text-danger"></span>
        </div>
        <div class="button-group">
            <button type="submit" class="btn-submit">Xóa Truyện</button>
            <a asp-action="Index" class="btn-cancel">Quay Lại</a>
        </div>
    </form>
</div>